*.o
*~
*.a
*.class
*.so
jni/com*.h
src/test_suite
lib/hush
examples/dns
examples/base64
examples/base64_sem1
examples/base64_sem2
TAGS
*.swp
*.swo
\#*
docs/milestone2.dot.pdf
*.dot.pdf
Session.vim
*.gcov
cscope.out
build/
.sconsign.dblite
*.os
*.pyc
